$small-screen-size: 767px;

@mixin small-screen {
  @media (max-width: $small-screen-size) {
    @content;
  }
}

.modal-cont {
  pointer-events: all;
  position: absolute;
  top: 0;
  background-color: black;
  z-index: 9999;
  top: 50%;
  left: calc(50% + 25px);
  transform: translate(-50%, -50%);
  iframe {
    min-width: 400px;
    min-height: 300px;
    @include small-screen {
      min-width: 300px;
      min-height: 200px;
    }
  }
}

.x-button {
  font-weight: 700;
  position: absolute;
  color: white;
  font-size: 24px;
  top: -35px;
  right: 0;
  cursor: pointer;
}

.inactive {
  pointer-events: none; // pointer-events not supported below IE11
}

.cover {
  pointer-events: all;
  position: absolute;
  background-color: rgba(61, 59, 59, 0.726);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
